---
import Layout from "@layout/Layout.astro";

const title = "Films87.Studio | Homepage"
const description = "Films87.Studio | Homepage"

---

<Layout {title} {description}>
		<h1 class="text-9xl [font-stretch:ultra-expanded] uppercase text-center">Films87.Studio</h1>
</Layout>
