---

---

<section
  class="flex flex-col items-center justify-end px-3 gap-y-3 my-20">
  <div
    class="[&>p]:leading-none [&>p]:text-xl [&>p]:font-medium [&>p]:text-stone-300">
    <p class="">
      FILMS87 DESIGN STUDIO IS A LEADING PROVIDER OF 🌓 MOTION DESIGN SOLUTIONS
      FOR BUSINESSES LOOKING TO ENHANCE THEIR BRAND
    </p>
    <p class="ml-16">
      ONE OF OUR KEY STRENGTHS IS THE ABILITYTO TELL COMPELLING STORIES THROUGH
      🌓 MOTION DESIGN.
    </p>
  </div>
  <p class="mt-2 text-justify text-sm font-medium">
    WE PROVIDE INNOVATIVE AND VISUALLY APPEALING DESIGN SOLUTIONS FOR BUSINESSES
    OF ALL SIZES ACROSS VARIOUS INDUSTRIES. OUR APPROACH FOCUSES ON CREATING
    MEANINGFUL AND MEMORABLE EXPERIENCES FOR OUR CLIENTS CUSTOMERS, REFLECTING
    THEIR BRAND AND VALUES IN EVERY DESIGN ELEMENT.
  </p>
  <div class="grid grid-cols-3 grid-row-2 gap-y-3 [&>p]:text-sm [&>p]:text-stone-400 [&>p]:text-justify [&>p]:col-span-2 [&>span]:uppercase [&>span]:text-sm">
    <span class="row-span-1">// about</span>
    <p class="">
      We believe tha idea and execution are not choronological steps, but a
      connected process. Our creatives are craftspeople and our designers are
      ideators. Whether you need help with branding, graphic design, video
      production, or any other aspect of creative production, our team is here
      to help. We have the skills and expertise necessary to deliver exceptional
      results that will exceed your expectations. We work closely with our
      clients to ensure that their vision is fully realized.
    </p>
    <span class="row-span-1">// mission</span>
    <p class="">
      We are big believers that great work is created through great
      collaborations. Our dynamic team of creative, production and design talent
      are primed to help bring your vision to life. With backgrounds that span
      agency and production, digital innovation and traditional media we work
      closely with in-house creative teams to boost creative capabilities and
      deliver exceptional value. When you work with out team, you can expect a
      personalized and attentive approach.
    </p>
  </div>
</section>
