---

---

<header class="flex pt-2 pb-10 px-3">
  <ul class="flex items-center justify-between w-full font-mono text-xs [&>li]:text-center [&>li]:text-neutral-400/70 [&>li]:font-medium [&>li]:[text-wrap:balance] [&>li]:max-w-sm uppercase">
    <li class="">
      <p class="">Design & Animation</p>
      <p class="">Creative Studio</p>
    </li>
    <li class="">
      <p class="">Design Studio Concept</p>
      <p class="">Web Apps & Games</p>
    </li>
    <li class="">
      <p class="">UI/UX, WEBSITE</p>
      <p class="">Uprock school</p>
    </li>
  </ul>
</header>
