---

---
<section>
  <h1 class="text-9xl [font-stretch:ultra-expanded] uppercase text-center text-stone-50">Films87.Studio</h1>
  <div class="flex overflow-x-hidden relative [&>div]:whitespace-nowrap [&>div>span]:mx-1 [&>div>span]:leading-none [&>div>span]:uppercase [&>div>span]:text-neutral-400/70">
    <div class="animate-marquee">
      <span class="">bringing ideas to life, one film at time. Bringing ideas to life, one film at time. bringing ideas to life, one film at time.</span>
    </div>
    <div class="animate-marquee2 absolute top-0">
      <span class="">bringing ideas to life, one film at time. bringing ideas to life, one film at time. bringing ideas to life, one film at time.</span>
    </div>
  </div>
</section>
