---

---
<section>
  <h1 class="text-9xl [font-stretch:ultra-expanded] uppercase text-center text-stone-50">Films87.Studio</h1>
  <div class="flex overflow-x-hidden relative text-sm [&>div]:whitespace-nowrap [&>div>span]:mx-1 [&>div>span]:leading-none [&>div>span]:uppercase [&>div>span]:text-neutral-400/70">
    <div class="animate-marquee">
      <span class="">bringing ideas to life, one film at time. Bringing ideas to life, one film at time. bringing ideas to life, one film at time.</span>
    </div>
    <div class="animate-marquee2 absolute top-0">
      <span class="">bringing ideas to life, one film at time. bringing ideas to life, one film at time. bringing ideas to life, one film at time.</span>
    </div>
  </div>
</section>
<section class="flex items-center justify-center py-20 relative [&>div]:top-20 [&>div]:w-96 [&>div]:h-96 [&>div]:bg-black-50 [&>div]:absolute [&>div]:rounded-t-full [&>div]:saturate-150 [&>div]:backdrop-blur-md [&>img]:aspect-square">
  <div class="bg-black/50 left-52 rounded-br-full"></div>
  <div class="bg-black/50 right-52 rounded-bl-full"></div>
  <img src="/sticker.png" alt="" class="w-24">
  <img src="/sticker.png" alt="" class="w-72">
  <img src="/sticker.png" alt="" class="w-24">
  <span class="text-center absolute left-[1/2] uppercase whitespace-pre max-w-sm text-stone-400 [font-stretch:semi-condensed] bottom-32">
    Where creativity and in0vati0n meet,
    we are delivering masterpieces
    bey0nd imaginati0n.
  </span>
</section>
