---

---
<div class="flex gap-x-4">
  <div class="flex relative [&>div]:w-5 [&>div]:h-5 [&>div]:bg-white [&>div]:rounded-full [&>div]:border [&>div]:border-black">
    <div class="relative z-[2]"></div>
    <div class="absolute left-3"></div>
  </div>
  <p class="uppercase font-light text-sm">Studio — F87®</p>
</div>
