---

---

<section class="h-[100lvh] sm:h-[100svh] w-full absolute inset-0 bg-black z-30 flex flex-col justify-center">
  <p class="font-mono text-xs text-stone-400/70 uppercase text-center mb-6">explore other sections of our website</p>
  <ul
    class="flex flex-col items-center justify-between gap-y-3 py-2 px-3 [&>li]:flex [&>li]:justify-between [&>li]:w-full [&>li>div]:bg-white [&>li>div]:w-2 [&>li>div]:h-2 [&>li>div]:rounded-full [&>li]:text-3xl [&>li>span]:text-sm [&>li]:items-center [&>li]:uppercase [&>li]:font-light [&>li]:border-b-white/20 [&>li]:border-b [&>li]:leading-none [&>li]:bg-gradient-to-b [&>li]:from-white [&>li]:to-black [&>li]:bg-clip-text [&>li]:text-transparent [&>li]:[font-stretch:ultra-expanded]">
    <li class="">
      <span class="">(01)</span>
       Home
      <div class=""></div>
    </li>
    <li class="">
      <span class="">(02)</span>
       About us<div class=""></div>
    </li>
    <li class="">
      <span class="">(03)</span>
       Projects
      <div class=""></div>
    </li>
    <li class="">
      <span class="">(04)</span>
       Media
      <div class=""></div>
    </li>
    <li class="">
      <span class="">(05)</span>
       Contact Us
      <div class=""></div>
    </li>
  </ul>
  <div
    class="grid grid-cols-2 p-3 gap-x-2 uppercase text-xs text-stone-300/70 [&>div]:border [&>div]:border-gray-700 [&>div]:border-dashed [&>div]:p-2 [&>div>img]:aspect-square [&>div>img]:object-cover [&>div]:flex [&>div]:flex-col [&>div]:gap-y-3">
    <div class="">
      <img src="/mobile-1.webp" alt="" class="" />
      <div class="flex justify-between w-full">
        <p class="">(+16)</p>
        <span class="text-right">motion design awards</span>
      </div>
    </div>
    <div class="">
      <img src="/mobile-2.webp" alt="" class="" />
      <div class="flex justify-between w-full">
        <p class="">(+20)</p>
        <span class="text-right">3d animation awards</span>
      </div>
    </div>
  </div>
  <p class="font-serif text-5xl italic font-extralight uppercase text-center border-y-white/20 border-y mt-4">Awards-88+ L</p>
</section>
